<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> ||</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Log In</h1>
    <form action="/log-in">
      <label for="logIn">First Name</label>
      <input name="logIn" placeholder="Username" type="text" />
      <label for="password">Password</label>
      <input name="password" id="password" placeholder="Password" type="password" />
      <button>Submit</button>
    </form>
    <a href="sign-up">Sign Up</a>
  </body>
</html>
