<form action="/messages/new" method="POST">
  <label>
    <input name="title" placeholder="Title">
  </label>
  <label>
    <textarea name="content" placeholder="Message"></textarea>
  </label>
  <button>Submit</button>
</form>