<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <style>label {display: block}</style>
</head>
<body>
  <h1>Sign Up</h1>
  <form action="/sign-up" method="POST">
    <label>
      First Name
      <input name="firstName" placeholder="First Name" required/>
    </label>
    <label>
      Last Name 
      <input name="lastName" placeholder="Last Name" required/>
    </label>
    <label>
      Username
      <input name="username" placeholder="Username" required/>
    </label>
    <label>
      Password
      <input name="password" placeholder="password" type="password" required/>
    </label>
    <label>
      Confirm Password
      <input name="confirmPassword" placeholder="Confirm Password" type="password" required/>
    </label>
    <input name="checkbox" type="checkbox">Admin?</input>
    <button>Sign Up</button>
  </form>
</body>
</html>