<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Sign Up</h1>
  <form action="/sign-up" method="POST">
    <label for="firstName">First Name</label>
    <input name="firstName" placeholder="First Name" type="text" />
    <label for="lastName">Last Name</label>
    <input name="lastName" placeholder="Last Name" type="text" />
    <label for="username">Username</label>
    <input name="username" placeholder="username" type="text" />
    <label for="password">Password</label>
    <input name="password" placeholder="password" type="password" />
    <input name="confirmPassword" placeholder="Confirm Password" type="password" />
    <button>Sign Up</button>
  </form>
</body>
</html>